body
{
	font-family: helvetica;
	font-size: smaller;
	color: black;
	padding: 0px;
	margin: 0px;
	background-color: #DFDFDF;
}

div.top
{
	background-color: #101A63;
	padding-top: 0.75em;
	padding-left: 2em;
	padding-right: 0.5em;
}

div.title
{
	color: yellow;
	font-size: larger;
	font-style: italic;
	margin-bottom: 0.5em;
}

span.currenttab
{
	background-color: #DFDFDF;
	padding-top: 0.22em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	color: #177927;
}

span.currenttab a
{
	color: #177927;
	text-decoration: none;
	padding-top: 0.22em;
	padding-left: 0.75em;
	padding-right: 0.75em;
}

span.tab
{
	background-color: #4955AC;
	padding-top: 0.22em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	color: #BFBFBF;
}

span.tab a
{
	color: #BFBFBF;
	padding-top: 0.22em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	text-decoration: none;
}

div.page
{
	clear: both;
	margin: 1em 2em 1em 2em;
	padding: 1em;
	background-color: white;
}

div.left
{
	background-color: #FFFBDB;
	float: left;
	width: 50%;	
}

div.right
{
	background-color: #FFDBDB;
	float: right;
	width: 49%;
}

div.graph
{
	background-color: #FFFBDB;
	text-align: center;
	padding: 0.5em;
}

div.graph div
{
	text-align: left;
}

div.graph a
{
	color: darkblue;
	text-decoration: none;
	border-bottom: dashed 1px darkblue;
	margin-left: 1em;
	margin-right: 1em;
}

a.action
{
	color: darkblue;
	text-decoration: none;
	border-bottom: dashed 1px darkblue;
	margin-left: 1em;
	margin-right: 1em;
}

a
{
	color: darkblue;
	text-decoration: none;
}

a img
{
	border: 0px;
}

th
{
	font-weight: normal;
	font-weight: bold;
	text-align: left;
	padding: 0.2em;
}

tr
{
	padding: 0.2em;
}

td
{
	padding: 0.2em;
}

table
{
	padding: 0.1em;
}

span.error
{
	color: red;
	display: block;
}

h1
{
	font-size: larger;
	font-style: italic;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0.5em;
	padding-bottom: 0px;
}