<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Login</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="James Randall">
	<%= stylesheet_link_tag 'login', :media => "all" %>
</head>
<body>
	<% form_tag do -%>
	<div class="group">
		<div class="outline">
			<div class="block">
				<div class="title">GetFit</div>
				Username<br/>
				<%= text_field_tag 'login', "", :class => "text" %>
				Password<br/>
				<%= password_field_tag 'password', "", :class => "text" %>
				<div class="right">
					<%= submit_tag "Login >>", :class => "button" %>
				</div>
				<!-- Uncomment this if you want this functionality
				<p><label for="remember_me">Remember me:</label>
				<%= check_box_tag 'remember_me' %></p>
				-->
			</div>
			<div class="register">
				<%= link_to "Register for an account >>", { :action => "signup" }%><br/>
				Forgot your password?
			</div>
		</div>
	</div>
	<% end -%>
</body>
</html>
